<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">
	<supports-screens
		android:largeScreens="true"
		android:xlargeScreens="true"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
		android:maxSdkVersion="28"/>
	<uses-permission android:name="android.permission.BLUETOOTH"
		android:maxSdkVersion="30"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
		android:maxSdkVersion="30"/>
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="28"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<uses-sdk tools:overrideLibrary="android.support.v14.preference"/>
	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW"/>
			<data android:scheme="https"/>
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW"/>
			<data android:scheme="http"/>
		</intent>
	</queries>
	<application
		tools:ignore="UnusedAttribute"
		android:name=".app.BinaryEyeApp"
		android:usesCleartextTraffic="true"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_rules"
		android:dataExtractionRules="@xml/extraction_rules"
		android:supportsRtl="true"
		android:resizeableActivity="true"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.SplashActivity"
			android:theme="@style/SplashTheme"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts"/>
		</activity>
		<activity
			android:name=".activity.CameraActivity"
			android:label="@string/scan_code"
			android:exported="true">
			<intent-filter android:label="@string/compose_barcode">
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/*"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.zxing.client.android.SCAN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="details" android:scheme="market"
					android:pathSuffix="id=com.xiaomi.scanner"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="binaryeye" android:host="scan"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.PickActivity"
			android:label="@string/pick_code_to_scan"
			android:exported="true"
			tools:ignore="AppLinkUrlError">
			<intent-filter android:label="@string/decode_barcode">
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
			</intent-filter>
			<intent-filter android:label="@string/decode_barcode">
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MainActivity"
			android:exported="true"/>
		<service
			android:name=".service.ScanTileService"
			android:icon="@drawable/ic_action_scan"
			android:label="@string/scan_code"
			android:exported="true"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE"/>
			</intent-filter>
		</service>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths"/>
		</provider>
		<meta-data
			android:name="android.app.searchable"
			android:resource="@xml/searchable"/>
	</application>
</manifest>
