<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="de.markusfisch.android.binaryeye"
	android:installLocation="auto">
	<supports-screens
		android:largeScreens="true"
		android:xlargeScreens="true"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<application
		tools:ignore="UnusedAttribute"
		android:name=".app.BinaryEyeApp"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_rules"
		android:supportsRtl="true"
		android:resizeableActivity="true"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.SplashActivity"
			android:label="@string/app_name"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.CameraActivity"
			android:label="@string/scan_code">
			<intent-filter android:label="@string/compose_barcode">
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.zxing.client.android.SCAN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data
					android:host="www.markusfisch.de"
					android:pathPrefix="/BinaryEye"
					android:scheme="http"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.PickActivity"
			android:label="@string/pick_code_to_scan"
			tools:ignore="AppLinkUrlError">
			<intent-filter android:label="@string/decode_barcode">
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
			</intent-filter>
			<intent-filter android:label="@string/decode_barcode">
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MainActivity"
			android:label="@string/app_name"/>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths"/>
		</provider>
	</application>
</manifest>
