<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="de.markusfisch.android.binaryeye"
	android:installLocation="auto">
	<supports-screens
		android:largeScreens="true"
		android:xlargeScreens="true"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<application
		tools:ignore="UnusedAttribute"
		android:name=".app.BinaryEyeApp"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:supportsRtl="true"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.SplashActivity"
			android:label="@string/app_name"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.CameraActivity"
			android:label="@string/scan_code">
			<intent-filter android:label="@string/compose_barcode">
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.zxing.client.android.SCAN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data
					android:host="www.markusfisch.de"
					android:pathPrefix="/BinaryEye"
					android:scheme="http"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MainActivity"
			android:label="@string/app_name"/>
	</application>
</manifest>
